.DS_Store
secrets/
.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json

# Bundler
Gemfile.lock
bin/*
.bundle/*

# test kitchen
.kitchen/
.kitchen.local.yml
